@{
    ViewData["Title"] = "사용자 관리";
    Layout = "~/Views/Shared/_LayoutDataView.cshtml";
}

@using App.Model;
@model List<Roles>;

<div class="bg-light border rounded-3" style="margin:15px;">
    <div class="list-group list-group-flush border-bottom scrollarea" style="margin:15px;">
        <div style="margin-top:20px;margin-bottom:20px;">
            <h3>사용자 관리</h3>
            <hr />

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-warning btn-sm" onclick="locationAccountRegisterPage()">사용자 등록</button>
                <button type="button" class="btn btn-success btn-sm" onclick="locationRolesListPage()">권한 조회</button>
                <button type="button" class="btn btn-info btn-sm" onclick="locationLockListPage()">Lock 계정 조회</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="locationUnAuthorizationPage()">미승인 사용자</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="locationUnRegisteredListPage()">미등록 사용자</button>
            </div>
        </div>

        <div class="table-responsive bg-white">
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" style="width: 100px;">ID</th>
                        <th scope="col" style="width: 100px;">코드</th>
                        <th scope="col" style="width: 100px;">이메일</th>
                        <th scope="col" style="width: 100px;">이름</th>
                        <th scope="col" style="width: 100px;">부서</th>
                        <th scope="col" style="width: 100px;">연락처</th>
                        <th scope="col" style="width: 100px;">권한</th>
                        <th scope="col" style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody style="overflow: auto;">
                    @{
                        if (Model.Count < 1)
                        {
                            <tr>
                                <td colspan="8" class='text-center' style='padding:10px;'>
                                    <h5>조회된 데이터가 없습니다!</h5>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td id="USER_ID_@item.USER_CD">@item.USER_ID</td>
                                    <td id="USER_CD_@item.USER_CD">@item.USER_CD</td>
                                    <td id="USER_EMAILS_@item.USER_CD">@item.USER_EMAIL</td>
                                    <td id="USER_NM_@item.USER_CD">@item.USER_NM</td>
                                    <td id="USER_DEPT_@item.USER_CD">@item.USER_DEPT</td>
                                    <td id="USER_CONTACT_@item.USER_CD">@item.USER_CONTACT</td>
                                    <td id="ROLE_NM_@item.USER_CD">@item.ROLE_NM</td>

                                    <td class="text-center">
                                        <button type='button' class='btn btn-outline-primary' data-bs-toggle="modal" data-bs-target="#UpdateUserInfoModal" data-bs-whatever="@item.USER_CD">
                                            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-square' viewBox='0 0 16 16'>
                                                <path d='m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z' />;
                                            </svg>
                                        </button>

                                        <button type='button' class='btn btn-outline-danger' data-bs-toggle="modal" data-bs-target="#RemoveConfirmModal" data-bs-whatever="@item.USER_CD">
                                            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-square' viewBox='0 0 16 16'>
                                                <path d='M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z' />;
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateUserInfoModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel">사용자 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="UpdateUserInfomation" id="FormUpdateUserInfo">
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="UserCd" name="UserCd" required>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserDept" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="UserEmails" name="UserEmails" required>
                        <div class="invalid-feedback">
                            이메일을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserDept" class="form-label">부서</label>
                        <input type="text" class="form-control" id="UserDept" name="UserDept">
                        <div class="invalid-feedback">
                            부서를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserContact" class="form-label">연락처</label>
                        <input type="text" class="form-control" id="UserContact" name="UserContact">
                        <div class="invalid-feedback">
                            연락처를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblAuthorization" class="form-label">권한</label>
                        <select id="AuthorizationName" name="UserAuthorization" class="form-select" required>
                            <option disabled selected hidden>권한을 선택하세요.</option>
                        </select>

                        <div class="invalid-feedback">
                            권한을 선택해주세요.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="FormUpdateUserInfo">등록</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoveConfirmModal" tabindex="-1" aria-labelledby="RemoveConfirmModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사용자 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="DeleteUser" id="FormRemoveUser">
                    <div class="mb-3">
                        <label for="UserNm" class="form-label">User CD</label>
                        <input type="text" class="form-control" id="RemoveUserCd" name="UserCd" rows="3" required readonly>
                    </div>

                    <div class="mb-3">
                        <label for="UserId" class="form-label">User ID</label>
                        <input type="text" class="form-control" id="RemoveUserId" name="UserEmail" rows="3" required readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="FormRemoveUser">삭제</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/admin.js" asp-append-version="true"></script>

<script>
    // 사용자 정보 변경 다이얼로그
    var UpdateUserInfoModal = document.getElementById('UpdateUserInfoModal')
    UpdateUserInfoModal.addEventListener('show.bs.modal', function (event) {
        var modalTitle = UpdateUserInfoModal.querySelector('.modal-title')
        modalTitle.textContent = '사용자 정보'

        var button = event.relatedTarget;
        var recipient = button.getAttribute('data-bs-whatever')

        $("#UserCd").val($("#USER_CD_" + recipient).text());
        $("#UserEmails").val($("#USER_EMAILS_" + recipient).text());
        $("#UserDept").val($("#USER_DEPT_" + recipient).text());
        $("#UserContact").val($("#USER_CONTACT_" + recipient).text());
        $("#UserAuthorization").val($("#ROLE_NM_" + recipient).text());
    })

    // 사용자 제거 확인 다이얼로그
    let RemoveUserModal = document.getElementById('RemoveConfirmModal')
    RemoveUserModal.addEventListener('show.bs.modal', function (event) {
        let modalTitle = RemoveUserModal.querySelector('.modal-title')
        modalTitle.textContent = '알림'

        let button = event.relatedTarget;
        let recipient = button.getAttribute('data-bs-whatever')
        recipient = $("#USER_ID_" + recipient).text() + "##" + recipient;

        $("#RemoveUserCd").val($("#USER_ID").text());
        $("#RemoveUserId").val($("#USER_EMAIL").text());

        if (recipient !== "##null") {
            let UserCd = recipient.split("##")[0];
            let UserId = $("#USER_EMAILS_" + recipient.split("##")[1]).text();
            $("#RemoveUserCd").val(UserCd);
            $("#RemoveUserId").val(UserId);
        }

        $("#RemoveUser").attr("onclick", "requestRemoveUser('" + recipient + "')");
    })
</script>